{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}


{% block information %}
        <br><br>
        <div class="container">
            <div class="row bg-info text-center p-5 text-white border-bottom shadow">
               <h1> VegaStar Technologies <i><h3>The search is over</h3></i></h1>
                <small class="fs-5">
                <p>VegaStar Technologies is Kenya's leading online shopping mall.
                    It was launched in January 2023 with the mission of
                    "Holding Africans hand as they shop this vast cyber-space".</p>

                <p>VegaStar Technologies serves a retail-customer base that continues to grow exponentially,
                offering products that span various categories including Electronics such as
                smartphones, laptops, woofers etc, VegaStar Technologies continues to expand the mall, with the scope of offerings
                that will increase in variety, simplicity and convenience.</p>

                <p> The range of services are designed to ensure optimum levels of convenience and customer
                satisfaction with the retail process; order delivery-tracking, dedicated customer service
                support and many other premium services. The company is highly customer-centric and are
                committed towards finding innovative ways of improving the customers' shopping experience.</p>

                <p>Now, shopping with VegaStar Technologies App will bring you millions of cash rewards, the best customer
                services, and track your order at anytime. Download VegaStar Technologies App APK and enjoy best service online in Kenya.</p>
                </small>
            </div>
        </div>
{% endblock information %}

{% block main-content %}
    <div class="container mt-3">
        <br>
        <h2 class="text-center">About Us</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center"> lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut, sed ut ex ea commod consequ consequ lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. consequ since the year 2022.</p>
        </div>
        <br><br>
        <h2 class="text-center">Mission</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center"> lorem ipsum dolor sit amet, consectetur adip lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut, sed ut ex ea commod consequ consequ lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. consequ since the year 2022.</p>
        </div>
    </div>
    <br><br><br>
{% endblock main-content %}
