<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scaled=1.0">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Link to FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <link href="img/favicon.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'app/css/style.css' %}"/>
{#    <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}" />#}
{#    <link rel="stylesheet" href="{% static 'app/css/all.min.css' %}" />#}
{#    <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />#}
{#    <link rel="stylesheet" href="{% static 'app/css/footer.css' %}" />#}
{#    <link rel="stylesheet" href="{% static 'app/css/sidebar.css' %}" />#}

    <title> VegaStar Technologies | {% block title %}{% endblock title %}</title>
</head>
<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-lg-4">
                <a href="{% url 'home' %}" class="text-decoration-none">
                    <span class="h1 text-uppercase text-white bg-primary px-2" style="background-color: #3d8aca;">VegaStar</span>
                    <span class="h1 text-uppercase text-white bg-primary px-2" style="background-color: #003399;">Technologies</span>
                </a>
            </div>
            <div class="col-lg-4 col-6 text-left">
                <form action="/search" role="search">
                    <div class="input-group">
                        <input type="search" name="search" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-6 text-right">
                <p class="m-0">Call to Order</p>
                <h5 class="m-0">+254 704-110-699</h5>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div class="container-fluid bg-dark mb-30">
        <div class="row px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; padding: 0 30px;">
                    <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                    <div class="navbar-nav w-100">
                        <div class="nav-item dropdown dropright">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Laptops<i class="fa fa-angle-right float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                                <a href="" class="dropdown-item">Hp</a>
                                <a href="" class="dropdown-item">Dell</a>
                                <a href="" class="dropdown-item">Mac Book</a>
                                <a href="" class="dropdown-item">Lenovo</a>
                                <a href="" class="dropdown-item">Dell</a>
                                <a href="" class="dropdown-item">Fujitsu</a>
                                <a href="" class="dropdown-item">Asus</a>
                                <a href="" class="dropdown-item">Acer</a>
                            </div>
                        </div>
                        <a href="#" class="nav-item nav-link">Desktop Computers {CPUs}</a>
                        <a href="#" class="nav-item nav-link">Monitors</a>
                        <a href="#" class="nav-item nav-link">Networking Devices</a>
                        <a href="#" class="nav-item nav-link">Storage & Memory</a>
                        <a href="#" class="nav-item nav-link">Printers</a>
                        <a href="#" class="nav-item nav-link">Computers Accessories</a>
                        <a href="#" class="nav-item nav-link">Sound Systems</a>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                    <a href="{% url 'home' %}" class="text-decoration-none d-block d-lg-none">
                        <span class="h1 text-uppercase text-primary bg-dark px-2">VegaStar</span>
                        <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Tech</span>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                            <a href="shop.html" class="nav-item nav-link">Shop</a>
                            <a href="{% url 'about' %}" class="nav-item nav-link">Shop Detail</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down mt-1"></i></a>
                                <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                    <a href="cart.html" class="dropdown-item">Shopping Cart</a>
                                    <a href="checkout.html" class="dropdown-item">Checkout</a>
                                </div>
                            </div>
                            <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                            <a href="contact.html" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0 d-none d-lg-flex align-items-center">
                            <a href="" class="btn px-0">
                                <i class="fas fa-heart text-primary"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                            </a>
                            <a href="{% url 'orders' %}" class="btn px-0 ml-3">
                                <i class="fas fa-shopping-cart text-primary"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                            </a>
                            <!-- Added a div with "d-flex" class to wrap the user icon and dropdown menu -->
                            <div class="d-flex align-items-center">
                                <!-- Removed "a" tag and used a "button" tag to create the dropdown toggle -->
                                <button class="btn btn-sm text-primary dropdown-toggle" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                                    <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                                    <li><a class="dropdown-item" href="{% url 'login' %}">Log in</a></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                    <li><a class="dropdown-item" href="{% url 'customerregistration' %}">Register</a></li>
                                    <li><a class="dropdown-item" href="{% url 'passwordchange' %}">Change Password</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    {#<li class="nav-item dropdown mx-2">#}
{#                     <a class="nav-link dropdown-toggle text-white" href="#"#}
{#                        id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{request.user}}</a>#}
{#                     <ul class="dropdown-menu" aria-labelledby="profileDropdown">#}
{#                         <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>#}
{#                         <li><a class="dropdown-item" href="{% url 'orders' %}">Orders</a></li>#}
{#                         <li><a class="dropdown-item" href="{% url 'passwordchange' %}">Change Password</a></li>#}
{#                         <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>#}
{#                     </ul>#}
    <!-- Navbar End -->


{#        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0073cf;">#}
{#          <div class="container-fluid">#}
{#            <a class="navbar-brand" href="{% url 'home' %}">#}
{#                <img src="{% static 'app/images/logo.png' %}" width="70" height="50" />#}
{#            </a>#}
{#            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#              <span class="navbar-toggler-icon"></span>#}
{#            </button>#}
{#            <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#              <ul class="navbar-nav me-auto mb-2 mb-lg-0">#}
{#                  {% if request.user.is_authenticated %}#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link text-white" href="{% url 'about' %}">About Us</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link text-white" href="{% url 'contact' %}" >Contact Us</a>#}
{#                </li>#}
{#              </ul>#}
{#              <form class="d-flex" role="search" action="/search">#}
{#                <input class="form-control me-2" type="search" placeholder="Search" name="search"#}
{#                       aria-label="Search">#}
{#                <button class="btn btn-outline-lightblue text-white" type="submit">Search</button>#}
{#              </form>#}
{#            </div>#}
{##}
{#             <ul class="navbar-nav me-auto mb-2 mb-lg-0">#}
{#                 <li class="nav-item dropdown mx-2">#}
{#                     <a class="nav-link dropdown-toggle text-white" href="#"#}
{#                        id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{request.user}}</a>#}
{#                     <ul class="dropdown-menu" aria-labelledby="profileDropdown">#}
{#                         <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>#}
{#                         <li><a class="dropdown-item" href="{% url 'orders' %}">Orders</a></li>#}
{#                         <li><a class="dropdown-item" href="{% url 'passwordchange' %}">Change Password</a></li>#}
{#                         <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>#}
{#                     </ul>#}
{#                 </li>#}
{#                 <li class="nav-item dropdown mx-2">#}
{#                     <a href="{% url 'showcart' %}" class="nav-link text-white"><span class="badge bg-danger">{% if totalitem > 0 %} {{totalitem}} {% endif %}</span> Cart </a>#}
{#                 </li>#}
{#                 <li class="nav-item dropdown mx-2">#}
{#                     <a href="#" class="nav-link text-white" ><span class="badge bg-danger">{% if wishitem > 0 %} {{wishitem}} {% endif %}</span>  <i class="fa fa-heart"></i></a>#}
{#                 </li>#}
{#                 {% else %}#}
{#                 <li class="nav-item dropdown mx-2">#}
{#                     <a href="{% url 'login' %}" class="nav-link text-white" >Login</a>#}
{#                 </li>#}
{#                 <li class="nav-item dropdown mx-2">#}
{#                     <a href="{% url 'customerregistration' %}" class="nav-link text-white" >Register</a>#}
{#                 </li>#}
{#                 {% endif %}#}
{#             </ul>#}
{##}
{#          </div>#}
{#        </nav>#}

        {% block banner_slider %}{% endblock banner_slider %}
        {% block information %}{% endblock information %}
        {% block main-content %}{% endblock main-content %}

{% block footer-content %}
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h1 style="color: white;"><b> VegaStar Technologies </b></h1>
                <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
                <p class="mb-4">Follow us</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Bihi Towers, Moi Avenue Nairobi, Kenya</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>Vegastar@support.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+254 704-110-699</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-secondary mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-secondary mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-secondary mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-secondary" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Newsletter</h5>
                        <p>Please subscribe to our email services for latest apple gadgets on market </p>
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Your Email Address">
                                <div class="input-group-append">
                                    <button class="btn btn-primary">Sign Up</button>
                                </div>
                            </div>
                        </form>
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="https://twitter.com/kardonapplestore"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="https://facebook.com/kardonapplestore"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="https://linkedin.com/kardonapplestore"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="https://instagram.com/kardonapplestore"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-12 px-xl-0">
                    <p class="mb-md-0 text-center text-md-left text-secondary"><marquee behavior="" direction="" style="color: blue;">
                    Copyrights © <script type="text/JavaScript">document.write(new Date().getFullYear());</script> Designed and Developed By <a class="text-primary" href="#"> Tech Deciphers Ltd | All Rights Reserved | Techdeciphers@support.com | +(254) 704 110-699</a></marquee></p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">

                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>
    </div>
{% endblock footer-content %}
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    {#    Javascript libraries #}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <script src="{% static 'app/js/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'app/js/contact.js' %}"></script>
    <script src="{% static 'app/js/main.js' %}"></script>

{#    <script src="{% static 'app/js/owl.carousel.min.js' %}"></script>#}
{#    <script src="{% static 'app/js/myscript.js' %}"></script>#}
{#    <script src="{% static 'app/js/all.min.js' %}"></script>#}
</body>
</html>